<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head")%>
  </head>
  <body class="home" style="display: flex; flex-direction: column">
    <%- include("./partials/header")%>

    <main id="home">
      <section id="homeDos">
        <div>
          <h3>DECIDETE</h3>
          <h3>SALTA</h3>
          <h3>VUELA</h3>
          <h3>SIENTE LA LIBERTAD</h3>
          <h3>Y NO VOLVERAS A SER EL MISMO</h3>
        </div>
      
      </section>
    </main>
  </body>
  <div><%- include("./partials/footer")%></div>
</html>
