<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;400;500&display=swap"
      rel="stylesheet"/>
    <script
      src="https://kit.fontawesome.com/96cdcb0a05.js"
      crossorigin="anonymous"
    ></script>
    <title>Skydive</title>
  </head>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
    <i class="fa-solid fa-bars"></i>
  </label>
    <a href="/"><img  class="logo-PC" src="img\logo-red-removebg2.png" alt="logo-nav-pc"/></a>
    <a href="/"><img class="logo-phone" src="img\logowhite-removebg.png" alt="logo-nav-PC"/></a>
    <ul>
      <li><a class="active" href="/">NOSOTROS</a></li>
      <li><a class="active" href="/">RESERVA TU SALTO</a></li>
      <li><a class="active" href="/">REGISTRATE</a></li>
      <li> <a href="/"> <i class="fa-solid fa-user-astronaut" id="user"></a></i></li>
      <li> <a href="/"><i class="fa-solid fa-cart-shopping" id="cart"></a></i></li>
    </ul>
  </nav>
  <body>
    <section>
      <p id="mensajeHome">El paracaidismo no es sólo un deporte de diversión. Vivir la experiencia de <b>volar</b> puede 
        generar un sentimiento tan profundo que, para muchos, puede significar un antes y después en sus vidas.</p>

    </section>   
  </body>

  <footer>
    <p>© 2022 Skydive House, inc. </p>
  </footer>
</html>
