<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;400;500&display=swap"
      rel="stylesheet"/>
    <script
      src="https://kit.fontawesome.com/96cdcb0a05.js"
      crossorigin="anonymous"
    ></script>
    <title>Skydive</title>
  </head>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
    <i class="fa-solid fa-bars"></i>
  </label>
    <img class="logo-PC" src="img\logo-red-removebg.png" alt="logo-nav-pc"/>
    <img class="logo-phone" src="img\logowhite-removebg.png" alt="logo-nav-PC"/>
    <ul>
      <li><a class="active"  href="/">NOSOTROS</a></li>
      <li><a class="active" href="/">RESERVA TU SALTO</a></li>
      <li><a class="active" href="/">REGISTRATE</a></li>
      <li><a class="active" href="/">LOGIN</a></li>
      <li><i class="fa-solid fa-user-astronaut"></i></li>
      <li><i class="fa-solid fa-cart-shopping"></i></li>
    </ul>
  </nav>
  <body>
    <section>
      <!-- <div class="fondo" style="background-image: url('img\skydivers-home.jpg')"></div> -->
    </section> 

    
    <!-- <img src="img\skydivers-home.jpg" alt="home" width="100%" /> -->
  </body>

  <footer>
    <p>© 2022 Skydive House, inc. </p>
  </footer>
</html>
