<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("./partials/head")%> 
  <link rel="stylesheet" href="css/register.css">
  <link rel="stylesheet" href="css/productAdd.css" />

</head>

<body>
  <%- include("./partials/navbar")%> 

  <main class="main">
    <form class="form">
      
      <h2 class="form-title">Nuevo producto</h2>
      <div class="form-field">
       
        <input class="form-field__input" type="text" placeholder="Nombre del producto" id="Nombre del producto" />
      </div>
    
      <div class="form-field">
        
        <input class="form-field__input" type="text" placeholder="Agregar descripcion" id="Agregar descripcion" />
      </div>
      <div class="form-field">
       
        <input class="form-field__input" type="text" placeholder="Agregar precio" id="Agregar precio" />
      </div>

      <div class="form-field">
        <input class="form-field__input" type="button" value="Agregar imagen" >
    </div>
     
    <div class="form-field">
        <input type="button" class="form-button" value="Agregar producto">
    </div>
        
        <input type="button" class="form-button2" value="Editar un producto existente">
       
      
    </form>

   
  </main>
  <%- include("./partials/footer")%> 
  
</body>

</html>