* {
  font-family: 'Anek Malayalam', sans-serif;
  box-sizing: border-box;
  font-size: 0.95em;

}

body.ProductDetail {
  background-color: rgb(230, 230, 232);
}


.altimetro {
  margin-top: 20px;
  width: 178px;
  height: 299px;
  padding: 10px;
  padding-left: 10px;
}

.textoSaltoTandem {
  width: 400px;
  height: 400px;
  padding: 48px;
}

h2 {
  margin: 0px;
  font-size: 20px;
}

button {
  font-size: 20px;
  display: flex;
  margin-top: 0px;
  margin-left: 85px;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  background-color: rgb(98, 98, 98);
}

.selectorBoton {}

.selectorBoton h3 {
  display: flex;
  flex-wrap: wrap;
  border: outset;
}

.precioSalto {
  text-align: right;
  margin: 0px;
}

p {
  text-align: justify;
}

.saltoTandem {
  display: none;
}

nav.nav-home {
  background-color: rgb(150, 36, 32);
}

main {
  margin-top: 90px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  color: rgb(44, 42, 42);
}

@media (min-width: 480px) {
  main {
    /* background-color: white; cambie para unificar criterios */
    display: flex;
    flex-wrap: wrap;

    height: 100%;
    margin: 0 auto;

    margin-top: 5%;
    justify-content: space-around;
  }

  .saltoTandem {
    display: inline;
    margin-top: 50px;
    width: 400px;
    height: 300px;
  }

  nav.nav-home {
    background-color: white;
  }

  .altimetro {
    margin-top: 50px;
  }
}