* {
    font-family: 'Anek Malayalam', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

h4.elegir {
    margin: 10px;
    padding: 40px 0 0 20px;
}

main {
    margin-top: 80px;
    font-size: large;
    font-size: 0.95em;
}

main .allProducts {
    margin-top: 60px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.allProducts article{
    width: 80vw;
    /* border: 1px solid #8d3535; */
    padding: 15px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin: 10px;
}

div.allProducts article i.fa-dollar-sign {
right: 5px;
}

div.allProducts article img {
width: 100%;
}


@media (min-width: 769px) {
    div.allProducts {
        flex-direction: row;  
    }

    div.allProducts article{
        width: 46%;
}
}

@media (min-width: 1200px) {
    div.allProducts article{
        width: 23vw;
}
}