@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

*,
*::after,
*::before {
  box-sizing: border-box;


}
:root {
  --primary-color: #2b2a29;
  --secondary-color: #962420;
  --font: 'Anek Malayalam', sans-serif;
}

body {
  color: var(--primary-color);
  font-family: var(--font);
  background-image: url("/img/skydive-registro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 110vh;
  margin: 0;
  position: relative;
  display: flex;
	flex-direction: column;
  /* overflow: hidden; */
}

.form {
  top: 30px;
}


div.errorMsg{
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: 500;
}

span {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-family: 'Baloo Paaji', cursive;
  font-size: xx-large;
  color: red;
  opacity: .4;
}