*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primary-color: #2b2a29;
  --secondary-color: #962420;
  --font: 'Anek Malayalam', sans-serif;
}

body {
  color: var(--primary-color);
  font-family: var(--font);
  background-image: url("/img/skydive-registro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  min-height: 110vh;
  margin: 0;
  overflow: hidden;
}

/* LH - agregue .main */
.main {  
  padding-top: 70px;
}

@media (min-width: 1200px) {
  body {
    /* background-size: contain; */
    background-position: center 20px;
  }
  .main {
    max-width: 800px;
  }
}
