.home {
  font-family: 'Anek Malayalam', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0.95em;
}

body main#home {
  background-image: url('../img/skydivers-phone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  overflow: hidden;
  background-position: left center;
  }

nav.nav-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size: 14px;
  display: block;
}

nav .logo-PC {
  display: none;
}

.fa-bars {
  font-size: 22px;
  color: white;
}

nav .logo-phone {
  display: inline-block;
  width: 100px;
}

/* .fa-bars {
  font-size: 19px;
  color: white;
} */

nav.nav-home ul {
  float: right;
  /* corre la seccion a la iz, no pude hacerlo con flexbox */
  margin-right: 13px;
  list-style-type: none;
  padding: 0;
}

nav.nav-home ul li {
  display: inline-block;
  margin: 15px 5px 2px;
}

nav.nav-home ul li a #user,
#cart {
  color: white;
  font-size: 1.2em;
}

nav.nav-home ul li a.active {
  font-weight: 500;
  color: rgb(44, 42, 42);
  display: none;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 55px;
  margin-right: 20px;
  cursor: pointer;
}

#check {
  display: none;
}

body section#homeDos {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body section p#mensajeHome {
  width: 230px;
  height: 150px;
}

p#mensajeHome {
  padding: 120px 10px;
  color: white;
  position: absolute;
  font-weight: 200;

}
div footer {
  position: relative;
}
footer p {
  color: rgb(26, 25, 25);
  font-size: 0.7em;
  margin: 2px 5px;
 
  bottom: 5px;

}

img.paracaidas-color {
  width: 35vw;
  margin-top: 50px;
}



@media (max-width: 479px) {
  .checkbtn {
    display: block;
  }

  nav.nav-home ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(3, 3, 3, 0.9);
    top: 100px;
    left: -100%;
    /*para sacar el menu de la vista */
    text-align: center;
    transition: all 0.5s;
  }

  nav.nav-home ul li {
    display: block;
    margin: 25px 0;
    line-height: 25px;
    font-size: medium;
  }

  nav.nav-home ul li a.active {
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  #check:checked~ul {
    left: 0;
  }


}

@media (min-width: 480px) {
  nav.nav-home {
    background-color: white;
  }

  nav .logo-PC {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
  }

  nav .logo-phone {
    display: none;
  }

  nav.nav-home ul li a.active {
    display: inline-block;
    text-decoration: none;
  }

  nav.nav-home ul li a #user,
  #cart {
    color: rgb(44, 42, 42);
  }

  .checkbtn {
    display: none;
  }

  nav.nav-home ul li a.active:hover,
  nav.nav-home ul li a #user:hover,
  #cart:hover {
    color: rgb(150, 36, 32);
    font-weight: 600;
    
  }
  img.paracaidas-color {
    display: none;
  }

}

@media (min-width: 580px) {
  body main#home {
    background-image: url('../img/skydivers-home.jpg');
  }


}