* {
  font-family: 'Anek Malayalam', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0.95em;
}
 body main {
  background-image: url("../img/skydivers-phone.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  overflow: hidden;
  background-position: left center;
 }

 nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
 }

nav .logo-PC {
  display: none; 
}

nav .logo-phone {
  display: inline-block;
  width: 120px;
}

nav ul {
  float: right; /* corre la seccion a la iz, no pude hacerlo con flexbox */
  margin-right: 13px;
  list-style-type: none;
  /* display: flex;    
    flex-direction: row row-reverse;
    justify-content: space-between; */
}

nav ul li {
  display: inline-block;
  margin: 15px 5px 2px;
  
}
nav ul li a #user, #cart {
  color: white;
  font-size: 1.2em;
}

nav ul li a.active {
  font-weight: 500;
  color: rgb(44, 42, 42);
  display: none;
}

.checkbtn {
  font-size: 19px;
  color: white;
  float: right;
  line-height: 42px;
  margin-right: 20px;
  cursor: pointer;
}

#check {
  display: none;
    /*segui un tutorial para el colapso del menu no estoy segura el funciona */
}

body section {
  width: 100vw;
  height: 100vh; 
  position: relative;
}

body section p {
  width:230px;
  height: 150px;   
}

p#mensajeHome {
  padding: 70px 10px;
  font-size: 1em;
  color: rgb(44, 42, 42);
  position: absolute;
  bottom: 115px;
}

footer p {
    color: white;
    font-size: 0.7em;
    margin: 2px 5px;
    float: right;
}

@media (max-width: 479px){
  .checkbtn {
    display: block;    
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(20, 20, 20, 0.9);
    top: 100px;
    left: -100%; /*para sacar el menu de la vista */
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 25px 0;
    line-height: 25px;
    font-size: medium;
  }
  
  nav ul li a.active {
    display: inline-block;
   text-decoration: none;
   color:white;
  }

  #check:checked ~ ul {
    left:0;
  }

}

@media (min-width: 480px) {
  nav {
    background-color: white;
  }
     nav .logo-PC {
    display: inline-block;
    width: 70px;         
  }
  
  nav .logo-phone {
    display: none;
  }

  nav ul li a.active {
    display: inline-block;
   text-decoration: none;
  }

  nav ul li a #user, #cart {   
    color: rgb(44, 42, 42);
  }
  
  a.active:hover, #user:hover, #cart:hover {
    color: rgb(150, 36, 32);  
      }

  .checkbtn {
    display: none;
  }
}
@media (min-width: 580px){
  body main{
    background-image: url("../img/skydivers-home.jpg"); 
    }

    p#mensajeHome {
      text-align: right;
      position: absolute;
      right: 20px;
      color: white;
    }
    
}
