<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head")%> 
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="/css/login.css" />

</head>

<body>
  <%- include("../partials/header")%> 

  <main class="main">
    <form class="form" id="login" method="POST" action="users/login" >
      <div class="form-profile">
        <i class="fa-solid fa-user form-field__icon profile"></i>
      </div>
      <h2 class="form-title">Login</h2>
      <div class="form-field">
        <label class="form-field__label" for="Username"><i class="fa-solid fa-user form-field__icon"></i></label>
        <input class="form-field__input" type="text" placeholder="Username" id="Username" />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="confirm_password"><i
            class="fa-solid fa-lock form-field__icon"></i></label>
        <input class="form-field__input" type="password" placeholder="Confirm Password" id="confirm_password" />
      </div>
      <p class="text-password">
        <i class="fa-regular fa-envelope form-field__icon icono_sobre"></i>Forget password?
      </p>
      <input type="button" class="form-button" value="Login">
    </form>

      </main>
      <%- include("../partials/footer")%> 
  
</body>

</html>l