<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head")%> 
   <link rel="stylesheet" href="css/register.css">
  <link rel="stylesheet" href="css/productEdit.css" />

</head>

<body>
  <%- include("../partials/header")%> 

      <main class="main">
    <form class="form">
      
      <h2 class="form-title">Modificar producto</h2>
      <div class="form-field">
       
        <input class="form-field__input" type="text" placeholder="Nombre del producto" id="Nombre del producto" />
      </div>
    
      <div class="form-field">
        
        <input class="form-field__input" type="text" placeholder="Editar descripcion" id="Editar descripcion" />
      </div>
      <div class="form-field">
       
        <input class="form-field__input" type="text" placeholder="Editar precio" id="Editar precio" />
      </div>

      <div class="form-field">
        <input class="form-field__input" type="button" value="Agregar imagen" >
    </div>
     
    <div class="form-field">
        <input type="button" class="form-button" value="Guardar cambios">
    </div>
        
        <input type="button" class="form-button2" value="Agregar un producto nuevo">
       
      
    </form>

   
  </main>
  <%- include("../partials/footer")%> 
</body>

</html>